@use 'header';
@use 'footer';
@use 'list';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;

  body {
    background-color: #ededed;
    color: #541919;
  }
}